<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Projected Android Auto metadata -->
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <!-- Custom Android Auto UI via Car App Library (Projected) -->
        <service
            android:name="com.soul.neurokaraoke.car.NeuroKaraokeCarAppService"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/neuro"
            android:attributionTags="neuroAudio">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <action android:name="androidx.car.app.media.action.VIEW_PLAYBACK" />
                <category android:name="androidx.car.app.category.MEDIA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link for Discord auth callback -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="neurokaraoke"
                    android:host="auth" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="neurokaraoke.com"
                    android:pathPrefix="/app-auth" />
            </intent-filter>
        </activity>
    </application>
</manifest>
